@keyframes deleteCommentAnimation {
  50% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(-110%);
    height: 0px;
    margin: 0;
  }
}

.deleteComment {
  top: 0;
  left: 0%;
  animation-duration: 0.8s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: deleteCommentAnimation;
}
