@keyframes deleteCommentAnimation {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
    height: 0px;
    margin: 0;
  }
}

.deleteComment {
  transform: scale(1);
  height: attr(height);
  animation-duration: 0.8s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: deleteCommentAnimation;
}
